main {
  padding: 60px;
}

.pic {
  width: 350px;
  height: 400px;
  background-image: url("photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  margin-bottom: 50px;
}

.pics {
  border: 1px solid black;
  width: 750px;
  height: 950px;
  background-image: url("photo.jpg");
}